.nav-icn {
  &.roll {
    @extend .fal-icon;
    &:before { content: fa-content($fa-var-dice-d20); }
  }

  &.top {
    @extend .far-icon;
    &:before { content: fa-content($fa-var-chevron-circle-up); }
  }

  &.bottom {
    @extend .far-icon;
    &:before { content: fa-content($fa-var-chevron-circle-down); }
  }

  &.index {
    @extend .far-icon;
    &:before { content: fa-content($fa-var-list-ul); }
  }

  &.info {
    @extend .far-icon;
    &:before { content: fa-content($fa-var-info-circle); }
  }
}
