<p id="notice"><%= notice %></p>

<h1>Rolls</h1>

 <div id='rolls'>
  <table>
    <thead>
      <tr>
        <th>Roller</th>
        <th></th>
        <th>Dice</th>
        <th>Result</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id='dice-pools'></tbody>
  </table>
</div>
